<div fxFlex fxFill fxLayout="row" fxLayoutAlign="space-around center">
    <span class="graph-line">
      <svg width="30" height="10">
        <line
          style="stroke-width: 2px; stroke: rgb(255, 5, 5);"
          x1="5"
          y1="5"
          x2="25"
          y2="5"
        ></line>
      </svg>
      Temp, &#176;C
    </span>
    <span class="graph-line">
      <svg width="30" height="10">
        <line
          style="stroke-width: 2px; stroke: rgb(5, 5, 255);"
          x1="5"
          y1="5"
          x2="25"
          y2="5"
        ></line>
      </svg>
      Wind, m/s
    </span>
    <span class="graph-line">
      <svg width="30" height="10">
        <line
          style="stroke-width: 2px; stroke: rgb(255, 255, 5);"
          x1="5"
          y1="5"
          x2="25"
          y2="5"
        ></line>
      </svg>
      Humidity, %
    </span>
    <span class="graph-line">
      <svg width="30" height="10">
        <line
          style="stroke-width: 2px; stroke: rgb(5, 2555, 5);"
          x1="5"
          y1="5"
          x2="25"
          y2="5"
        ></line>
      </svg>
      <span style="color: #00ff00;">
        Pressure, hPa
      </span>
    </span>
  </div>