# See http://help.github.com/ignore-files/ for more about ignoring files.

src/build-info.ts
# compiled output
/dist
/tmp
/out-tsc

#firebase system
firebase-debug.log
firebase/.firebase/
firebase/public
firebase/firebase-debug.log
firebase/pubsub-debug.log

# dependencies
/node_modules
node_modules
update

#coverage
coverage


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
firebase/ui-debug.log
firebase/database-debug.log

# System Files
.DS_Store
Thumbs.db
