<mat-card
  class="forecast-card flex flex-row flex-justify-content-stretch flex-align-items-stretch"
>
  <div class="content flex flex-column">
    <div>
      <div class="flex flex-row">
        <div class="date-column"></div>
        <div class="flex flex-row flex-justify-content-center">
          <app-forecast-gchart-legend
            class="legend"
          ></app-forecast-gchart-legend>
        </div>
      </div>
    </div>

    <div class="flex flex-row scroll-this" #dateColumn>
      <div class="flex flex-column date-column flex-justify-content-stretch">
        <div
          class="flex flex-row flex-align-items-stretch"
          *ngFor="let dayK of activeDays | sliceArray: daysForecast"
          (click)="clickedDay(dayK)"
        >
          <div
            class="date-column flex flex-column flex-justify-content-center flex-align-items-center"
          >
            <span>{{ dayK | date: "EEE" }}</span>
            <span>{{ dayK | date: "dd" }}</span>
            <span>{{ dayK | date: "MMM" }}</span>
          </div>
        </div>
      </div>
      <div class="flex flex-column flex-align-items-stretch">
        <div
          class="flex flex-row flex-justify-content-stretch"
          *ngFor="let dayK of activeDays | sliceArray: daysForecast; index as ind"
          (click)="clickedDay(dayK)"
        >
          <div class="chartWithOverlay" #chartWithOverlay>
            <google-chart #googleChart
              class="flex flex-column flex-justify-content-center google-chart"
              [dynamicResize]="true"
              [width]="chart[dayK].width"
              [height]="chart[dayK].height"
              [type]="chart[dayK].type"
              [data]="chart[dayK].data"
              [columns]="chart[dayK].columnNames"
              [options]="chart[dayK].options"
              (ready)="onReady($event, googleChart, overlay, overlayContent, ind)"
            >
            </google-chart>
            
            <div class="overlay flex flex-row flex-justify-content-center" #overlay>
              <div class="overlay-content flex-justify-content-stretch" #overlayContent>
                  <ng-container *ngFor="let slot of chart[dayK].icons; index as iconInd">
                    <span class="flex flex-justify-content-center">
                      <span 
                        class="icon-weather-container" 
                        (click)="$event.stopPropagation();showDataCellExpanded(weatherData.listByDate[dayK][slot.hourK], iconInd)"
                        >
                        <span class="icons-weather" [ngStyle]="setIconStyle(slot)" *ngIf="showChartIcons$ | async"></span>
                      </span>
                    </span>
                  </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex flex-column flex-justify-content-center"
        *ngIf="loadingOwmData"
      >
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    </div>
  </div>
</mat-card>
