.forecast-card {
  height: 100%;
  width: 100%;
  padding: 5px;
  background: transparent;
  --date-column-width: 40px;
}

.content {
  font-size: 14px;
  color: white;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.date-column {
  max-width: var(--date-column-width);
  min-width: var(--date-column-width);
}

.legend {
  border: solid 1px grey;
  /* margin: 5px; */
  /* padding: 5px; */
  background: rgba(0, 0, 0, 0.2);
}

.flex {
  display: flex;
  flex: 1 1 auto;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-justify-content-center {
  justify-content: center;
}
.flex-justify-content-stretch {
  justify-content: stretch;
}
.flex-align-self-center {
  align-self: center;
}
.flex-align-self-stretch {
  align-self: stretch;
}
.flex-align-content-stretch {
  align-content: stretch;
}
.flex-align-items-stretch {
  align-items: stretch;
}
.flex-align-items-center {
  align-items: center;
}
.flex-align-content-center {
  align-content: center;
}
.max-size {
  min-height: 100%;
  min-width: 100%;
}

@media only screen and (max-width: 800px), (max-height: 800px) {
  .legend,
  .date-column {
    font-size: 90%;
  }
}

@media only screen and (max-width: 600px), (max-height: 600px) {
  .legend,
  .date-column {
    font-size: 80%;
  }
}
