<mat-card class="forecast-card">
  <div fxFlex fxFill fxLayout="column" class="content">
    <app-forecast-gchart-legend
      fxFlexAlign="center"
      class="legend"
    ></app-forecast-gchart-legend>
    <div fxFlex fxFill fxLayout="column" class="scroll-this">
      <div
        fxFlex
        fxLayout="row"
        *ngFor="let dayK of activeDays"
        (click)="clickedDay(dayK)"
      >
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          class="date-column"
        >
          <span>{{ dayK | date: "EEE" }}</span>
          <span>{{ dayK | date: "dd" }}</span>
          <span>{{ dayK | date: "MMM" }}</span>
        </div>

        <google-chart
          fxFlex
          fxLayoutAlign="center center"
          style="width: 85%;"
          [dynamicResize]="dynamicResize"
          [type]="chart[dayK].type"
          [data]="chart[dayK].data"
          [columns]="chart[dayK].columnNames"
          [options]="chart[dayK].options"
        >
        </google-chart>
      </div>
    </div>

    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      *ngIf="loadingOwmData"
    >
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </div>
</mat-card>
