.forecast-card {
  height: 100%;
  width: 100%;
  padding: 5px;
  background: transparent;
  --date-column-width: 40px;
}

.content {
  font-size: 12px;
  color: white;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}


.table-cell_data_empty-background {
  min-width: 120px;
  margin: 2px;
}

.table-header-background {
  min-width: 120px;
  margin: 2px;
  background-color: rgba(119, 139, 255, 0.575);
}

.date-column {
  width: var(--date-column-width);
}

.legend {
  border: solid 1px grey;
  margin: 5px;
  padding: 5px;
  width: 70%;
}


@media only screen and (max-width: 800px), (max-height: 800px){
  .legend, .date-column {
    font-size: 90%;
  }
}

@media only screen and (max-width: 600px), (max-height: 600px){
  .legend, .date-column {
    font-size: 80%;
  }
}
