.dialog-settings-container {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: small;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 10px;
  row-gap: 25px;
  align-items: center;
  padding: 15px;
  overflow-y: auto;
}
.grid::-webkit-scrollbar {
  width: 5px;
}
.grid::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
}
.grid::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
.grid::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.build-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-small;
  color: black;
}

.update-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  color: yellow;
  padding: 5px;
}

.reload-button {
  margin: 5px;
  padding: 0px;
  background-color: #aaa4;
  border-radius: 0px;
  color: white;
}

.reload-button:hover {
  color: yellow;
  background-color: #000;
}
