<div class="dialog-settings-container" (click)="closeDialog()">
  <div class="grid">
    Live Data Update
    <mat-slide-toggle
      style="transform: rotate(180deg)"
      [color]="'primary'"
      [checked]="liveDataUpdate"
      (toggleChange)="toggleLiveDataUpdate()"
      (click)="$event.stopPropagation()"
    >
    </mat-slide-toggle>

    Days forecast
    <mat-slider
      thumbLabel
      [color]="'primary'"
      [(ngModel)]="daysForecast"
      (change)="updateDaysForecast()"
      (click)="$event.stopPropagation()"
      tickInterval="1"
      min="1"
      max="5"
    >
    </mat-slider>

    Slots background
    <mat-slide-toggle
      style="transform: rotate(180deg)"
      [color]="'primary'"
      [checked]="timeSlotBgPicture"
      (toggleChange)="toggleTimeSlotBgPicture()"
      (click)="$event.stopPropagation()"
    >
    </mat-slide-toggle>

    Pressure
    <mat-slide-toggle
      style="transform: rotate(180deg)"
      [color]="'primary'"
      [checked]="showDetailPressure"
      (toggleChange)="toggleShowPressure()"
      (click)="$event.stopPropagation()"
    >
    </mat-slide-toggle>

    Wind
    <mat-slide-toggle
      style="transform: rotate(180deg)"
      [color]="'primary'"
      [checked]="showDetailWind"
      (toggleChange)="toggleShowWind()"
      (click)="$event.stopPropagation()"
    >
    </mat-slide-toggle>

    Humidity
    <mat-slide-toggle
      style="transform: rotate(180deg)"
      [color]="'primary'"
      [checked]="showDetailHumidity"
      (toggleChange)="toggleShowHumidity()"
      (click)="$event.stopPropagation()"
    >
    </mat-slide-toggle>
  </div>
  <div class="update-message" *ngIf="updatesAvailable$ | async">
    <div>New release is available</div>
    <div>Please reload to update</div>
  </div>
  <div class="build-text">
    <div>Ver {{ buildVersion }} Rel {{ buildHash }} {{ buildName }}<br /></div>
    <div>{{ buildTime | date: "dd/MM/yyyy HH:mm:ss" }}</div>
  </div>
</div>
