<div class="dialog-settings-container" (click)="closeDialog()">
  <div class="grid">
    <ng-container *ngIf="settingsOptions['liveDataUpdate']">
      Live Data Update
      <mat-slide-toggle
        style="transform: rotate(180deg)"
        [color]="'primary'"
        [checked]="liveDataUpdate"
        (toggleChange)="toggleLiveDataUpdate()"
        (click)="$event.stopPropagation()"
      >
      </mat-slide-toggle>
    </ng-container>

    <ng-container *ngIf="settingsOptions['daysForecast']">
      Days forecast
      <mat-slider
        thumbLabel
        [color]="'primary'"
        [(ngModel)]="daysForecast"
        (change)="updateDaysForecast()"
        (click)="$event.stopPropagation()"
        tickInterval="1"
        min="1"
        max="5"
      >
      </mat-slider>
    </ng-container>

    <ng-container *ngIf="settingsOptions['slotsBackground']">
      Slots background
      <mat-slide-toggle
        style="transform: rotate(180deg)"
        [color]="'primary'"
        [checked]="showDetailTimeSlotBgPicture"
        (toggleChange)="toggleShowTimeSlotBgPicture()"
        (click)="$event.stopPropagation()"
      >
      </mat-slide-toggle>
    </ng-container>

    <ng-container *ngIf="settingsOptions['detail-pressure']">
      Pressure
      <mat-slide-toggle
        style="transform: rotate(180deg)"
        [color]="'primary'"
        [checked]="showDetailPressure"
        (toggleChange)="toggleShowDetailPressure()"
        (click)="$event.stopPropagation()"
      >
      </mat-slide-toggle>
    </ng-container>

    <ng-container *ngIf="settingsOptions['detail-wind']">
      Wind
      <mat-slide-toggle
        style="transform: rotate(180deg)"
        [color]="'primary'"
        [checked]="showDetailWind"
        (toggleChange)="toggleShowDetailWind()"
        (click)="$event.stopPropagation()"
      >
      </mat-slide-toggle>
    </ng-container>

    <ng-container *ngIf="settingsOptions['detail-humidity']">
      Humidity
      <mat-slide-toggle
        style="transform: rotate(180deg)"
        [color]="'primary'"
        [checked]="showDetailHumidity"
        (toggleChange)="toggleShowDetailHumidity()"
        (click)="$event.stopPropagation()"
      >
      </mat-slide-toggle>
    </ng-container>
    
    <ng-container *ngIf="settingsOptions['gchart-wind']">
      Wind
      <mat-slide-toggle
        style="transform: rotate(180deg)"
        [color]="'primary'"
        [checked]="showGChartWind"
        (toggleChange)="toggleShowGChartWind()"
        (click)="$event.stopPropagation()"
      >
      </mat-slide-toggle>
    </ng-container>

    <ng-container *ngIf="settingsOptions['gchart-humidity']">
      Humidity
      <mat-slide-toggle
        style="transform: rotate(180deg)"
        [color]="'primary'"
        [checked]="showGChartHumidity"
        (toggleChange)="toggleShowGChartHumidity()"
        (click)="$event.stopPropagation()"
      >
      </mat-slide-toggle>
    </ng-container>

    <ng-container *ngIf="settingsOptions['gchart-icons']">
      Charts Icons
      <mat-slide-toggle
        style="transform: rotate(180deg)"
        [color]="'primary'"
        [checked]="showGChartIcons"
        (toggleChange)="toggleShowGChartIcons()"
        (click)="$event.stopPropagation()"
      >
      </mat-slide-toggle>
    </ng-container>
  </div>
  <div class="update-message" *ngIf="updatesAvailable$ | async">
    <div>
      New version {{ (buildInfo$ | async)?.available?.version || "" }} is
      available
    </div>
    <div>Please reload to update</div>
  </div>
  <div class="build-text">
    <div>Ver {{ buildVersion }} Rev {{ buildHash }} {{ buildName }}<br /></div>
    <div>{{ buildTime | date: "dd/MM/yyyy HH:mm:ss" }}</div>
  </div>
</div>
