<mat-card class="stats-card">
  <div fxFlex fxLayout="column" fxFill>
    <div fxFlex="0 0 auto" fxLayout="row">
      <p (click)="toggleShowErrors()">Current client IPv4: {{ ip$ | async }}</p>
      <span fxFlex></span>
      <span fxLayout="row" fxLayoutAlign="start center">
        Cities&nbsp;
        <mat-slide-toggle
          style="transform: rotate(180deg)"
          [color]="'primary'"
          [checked]="checkedCities"
          (toggleChange)="checkedCities = !checkedCities"
        >
        </mat-slide-toggle>
        &nbsp;IP
      </span>
    </div>
    <br />

    <div *ngIf="(checkedCities === false && !historyLog) || (checkedCities && !stats) || (showErrors && !errorsLog)">
      No data
    </div>

    <div fxFlex fxLayout="column" *ngIf="checkedCities === false && historyLog && !showErrors">
      <div fxFlex="0 0 auto" fxLayout="row">
        <span fxFlex class="min-width-130">IP</span>
        <span fxFlex class="min-width-100">Date</span>
        <span fxFlex>Time</span>
        <span fxFlex>City</span>
        <span fxFlex>
          <span fxFlex></span>
          <span fxFlex class="min-width-25 right">#</span>
          <span fxFlex></span>
        </span>
        <span class="width-5"></span>
      </div>

      <hr />

      <div
        fxFlex
        fxLayout="column"
        class="scroll-this"
        [@showStats]="citiesLength"
      >
        <ng-container *ngFor="let logEntryIp of historyLog; let odd = odd">
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            class="hovered"
            [ngClass]="{
              odd: odd && !showDetails[logEntryIp[0]],
              selected: odd && showDetails[logEntryIp[0]],
              'selected-even': !odd && showDetails[logEntryIp[0]],
              hovered: true
            }"
            (click)="showDetails[logEntryIp[0]] = !showDetails[logEntryIp[0]]"
          >
            <span fxFlex class="truncate min-width-130">
              {{ showDetails[logEntryIp[0]] ? "&#x23F7;" : "&#x23F5;" }}
              {{ logEntryIp[0] | replace: "-":"." }}
            </span>
            <span fxFlex class="min-width-100">{{
              logEntryIp[2][0][0] | date: "dd/MM/yyyy"
            }}</span>
            <span fxFlex>{{ logEntryIp[2][0][0] | date: "HH:mm" }}</span>
            <span fxFlex>{{ cities[logEntryIp[2][0][1]]?.name }}</span>

            <span fxFlex>
              <span fxFlex></span>
              <span fxFlex class="min-width-25 right">{{
                logEntryIp[1].length
              }}</span>
              <span fxFlex></span>
            </span>
          </div>

          <ng-container *ngIf="showDetails[logEntryIp[0]]">
            <ng-container *ngFor="let logEntryTime of logEntryIp[2]; let oddsub = odd">
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                [ngClass]="{
                  selected: oddsub && odd,
                  'selected-even': oddsub && !odd,
                  hovered: true
                }"
                (click)="showDetails[logEntryIp[0]] = !showDetails[logEntryIp[0]]"
              >
                <span fxFlex></span>
                <span fxFlex>{{ logEntryTime[0] | date: "dd/MM/yyyy" }}</span>
                <span fxFlex>{{ logEntryTime[0] | date: "HH:mm:ss" }}</span>
                <span fxFlex>{{ cities[logEntryTime[1]].name }}</span>
                <span fxFlex></span>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div fxFlex fxLayout="column" *ngIf="checkedCities && stats && !showErrors">
      <div fxLayout="row">
        <span fxFlex class="padding-left-5 min-width-100">Requests</span>
        <span fxFlex class="min-width-100"></span>
        <span fxFlex></span>
        <span class="width-50 right">OWM</span>
        <span fxFlex></span>
        <span class="width-50 right">DB</span>
        <span fxFlex></span>
      </div>
      <hr />
      <div fxLayout="row">
        <span fxFlex class="padding-left-5 min-width-100">All</span>
        <span fxFlex class="min-width-100"></span>
        <span fxFlex></span>
        <span class="width-50 right">{{ stats?.u || '' }}</span>
        <span fxFlex></span>
        <span class="width-50 right">{{ stats?.r || '' }}</span>
        <span fxFlex></span>
      </div>

      <hr />

      <div
        fxFlex
        fxLayout="column"
        class="scroll-this"
        [@showStats]="citiesLength"
      >
        <div
          *ngFor="let city of cities | keyvalue | sortCities; let odd = odd"
          fxFlex
          fxLayout="row"
          fxLayoutAlign="start center"
          [class.odd]="odd"
          class="hovered"
        >
          <span fxFlex class="min-width-100 truncate padding-left-5" >{{ city.value.name }}</span>
          <span fxFlex class="min-width-100 truncate">{{ city.value.country }}</span>
          <span fxFlex></span>
          <span class="width-50 right">{{(stats[city.key]?.u || 0) + (city.value?.u || 0)}}</span>
          <span fxFlex></span>
          <span class="width-50 right">{{(stats[city.key]?.r || 0) + (city.value?.r || 0)}}</span>
          <span fxFlex></span>
        </div>
      </div>
    </div>

    <div fxFlex fxLayout="column" *ngIf="showErrors && errorsLog">
      <div fxFlex="0 0 auto" fxLayout="row">
        <span class="width-200">IP/Date/Time</span>
        <span fxFlex>Error</span>
      </div>

      <hr />

      <div fxFlex fxLayout="column" class="scroll-this" @showStats>
        <ng-container *ngFor="let logEntryIp of errorsLog; let odd = odd">
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            class="hovered"
            [ngClass]="{
              odd: odd && !showErrorsDetails[logEntryIp[0]],
              selected: odd && showErrorsDetails[logEntryIp[0]],
              'selected-even': !odd && showErrorsDetails[logEntryIp[0]],
              hovered: true
            }"
            (click)="showErrorsDetails[logEntryIp[0]] = !showErrorsDetails[logEntryIp[0]]"
          >
            <span class="width-200">
              {{ showErrorsDetails[logEntryIp[0]] ? "&#x23F7;" : "&#x23F5;" }}
              <span class="padding-left-5">
                {{ logEntryIp[0] | replace: "-":"." }}
              </span>
            </span>
            <span class="width-100">{{ logEntryIp[2][0][0] | date: "dd/MM/yyyy" }}</span>
            <span class="width-100">{{ logEntryIp[2][0][0] | date: "HH:mm" }}</span>
          </div>

          <ng-container *ngIf="showErrorsDetails[logEntryIp[0]]">
            <ng-container *ngFor="let logEntryTime of logEntryIp[2]; let oddsub = odd; let ind = index">
              <div
                fxLayout="row"
                fxLayoutAlign="start start"
                class="margin-left-15"
                [ngClass]="{
                  selected: oddsub && odd,
                  'selected-even': oddsub && !odd,
                  hovered: true
                }"
                (click)="showDetails[logEntryIp[0]] = !showDetails[logEntryIp[0]]"
              >
                <span class="padding-left-5 width-100">{{ logEntryTime[0] | date: "dd/MM/yyyy" }}</span>
                <span class="width-100">{{ logEntryTime[0] | date: "HH:mm:ss" }}</span>
                <span class="white-space-pre-wrap" fxFlex>{{ logEntryTime[1] }}</span>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</mat-card>
