.stats-card {
  height: 100%;
  padding: 10px;
  z-index: 0;
  background-color: transparent;
  color: white;
}

.odd {
  background-color: #ccccff30;
}
.selected {
  background-color: #bbd5c640;
}
.selected-even {
  background-color: #d0909040;
}
.hovered:hover {
  background-color: #888888;
}

.min-width-25 {
  min-width: 25px;
}
.min-width-80 {
  min-width: 80px;
}
.min-width-100 {
  min-width: 100px;
}
.min-width-130 {
  min-width: 130px;
}
.min-width-360 {
  min-width: 360px;
}
.width-5 {
  width: 5px;
}
.width-50 {
  width: 50px;
}
.width-100 {
  width: 100px;
}
.width-200 {
  width: 200px;
}
.right {
  text-align: right;
}
.padding-left-5 {
  padding-left: 5px;
}
.margin-left-15 {
  margin-left: 15px;
}
.scrollbar-placeholder {
  width: 15px;
}
.scroll-this::-webkit-scrollbar {
  width: 5px;
}
.scroll-this::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
}
.scroll-this::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
.scroll-this::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

@media only screen and (max-height: 599px) {
  .stats-card {
    font-size: 50%;
  }
}

@media only screen and (min-height: 600px) {
  .stats-card {
    font-size: 80%;
  }
}

@media only screen and (min-height: 800px) {
  .stats-card {
    font-size: 100%;
  }
}
