<section class="container" #container>
  <mat-toolbar class="toolbar" *ngIf="toolbarShow">
    <span
      class="toolbar-menu-toggle-xs"
      (click)="toggleActionButtonsXS($event)"
      *ngIf="xs500w === true"
    >
      <span
        class="icon-bar top-bar"
        [ngClass]="{ 'show-action-buttons-xs': showActionButtonsXS }"
      ></span>
      <span
        class="icon-bar middle-bar"
        [ngClass]="{ 'show-action-buttons-xs': showActionButtonsXS }"
      ></span>
      <span
        class="icon-bar bottom-bar"
        [ngClass]="{ 'show-action-buttons-xs': showActionButtonsXS }"
      ></span>
    </span>
    <a *ngIf="xs500w === false" class="home-button" [routerLink]="['/home']">
      &lt;&lt;
    </a>
    <span>OWM Forecast</span>
    <span
      class="header-sample-text"
      *ngIf="owmData && owmDataExpired && xs500w === false"
      >{{
        (owmDataExpired ? "Offline" : "") +
          (!owmData.updated ? " Sample" : "") +
          " Data"
      }}</span
    >
    <span class="header-actions-container">
      <ng-container *ngFor="let action of toolbarActions">
        <mat-form-field
          *ngIf="action['type'] === 'selectCities'"
          class="header-action"
          style="width: 120px"
        >
          <mat-select
            fxFlex
            panelClass="header-toolbar-mat-select"
            placeholder="City"
            [(value)]="selectedCityId"
            (selectionChange)="selectedCityChange()"
          >
            <mat-option
              fxFlex
              *ngFor="let city of cities$ | async | keyvalue | sortCities"
              [value]="city.key"
            >
              <span fxFlex fxFill fxLayoutAlign="space-between" fxLayout="row">
                <span>{{ city.value.name }}&nbsp;</span>
                <span fxFlex fxLayoutAlign="end center">{{
                  city.value.iso2
                }}</span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <a
          *ngIf="xs500w === false && action['type'] === 'button'"
          mat-button
          mat-mini-fab
          class="button-action"
          [routerLink]="action['path']"
          [class.disabled]="!connected && action['disableOnDisconnected']"
          routerLinkActive="active"
          >{{ action["title"] }}</a
        >
      </ng-container>

      <mat-icon
        #settingsIcon
        *ngIf="xs500w === false && loaded"
        svgIcon="settings"
        class="button-settings"
        [class.disconnected]="!connected"
        [class.updates]="updatesAvailable"
        (click)="showSettings(settingsIcon)"
      ></mat-icon>
    </span>
  </mat-toolbar>

  <div
    class="header-actions-container-xs"
    *ngIf="showActionButtonsXS === true && xs500w === true"
  >
    <a
      mat-button
      mat-mini-fab
      class="button-action-xs"
      [ngStyle]="{ 'background-color': 'black' }"
      [routerLink]="['/home']"
    >
      Back
    </a>
    <ng-container *ngFor="let action of toolbarActions">
      <a
        *ngIf="action['type'] === 'button'"
        mat-button
        mat-mini-fab
        class="button-action-xs"
        [routerLink]="action['path']"
        routerLinkActive="active"
        [class.disabled]="!connected && action['disableOnDisconnected']"
        >{{ action["title"] }}</a
      >
    </ng-container>
    <mat-icon
      #settingsIconXs
      *ngIf="loaded"
      svgIcon="settings"
      class="button-settings button-settings-xs"
      [class.disconnected]="!connected"
      [class.updates]="updatesAvailable"
      (click)="showSettings(settingsIconXs, true)"
    ></mat-icon>
  </div>

  <div class="container-toolbar-outlet" (click)="hideActionButtonsXS($event)">
    <router-outlet></router-outlet>
  </div>
</section>
