.container {
  height: 100vh;
  width: 100vw;
  min-height: 260px;
  background-color: rgb(91, 134, 174);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../assets/backgrounds/default.jpg");
  transition: background-image 1s ease-in-out 0.5s;
}
.container-toolbar-outlet {
  height: calc(100vh - var(--toolbar-height));
  margin: 0;
  padding: 10px;
}

.toolbar {
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  background: transparent;
  color: white;
}

.header-sample-text {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-actions-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.home-button {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0px 5px;
  margin-right: 10px;
  margin-left: -5px;
  display: inline-block;
  cursor: pointer;
  font-weight: lighter;
  border: solid 1px #4a5e77;

  transition: background-color 0.5s color 0.5s;
  position: relative;
}
.home-button:hover {
  box-sizing: border-box;
  font-weight: normal;
  color: black;
  --blink-color: yellow;
  --blink-bgcolor: transparent;
  animation-name: blink-animation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.button-settings {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  border: solid 1px #4a5e77;
  fill: white;
  background-color: black;
  padding: 3px;
}
.disconnected {
  background-color: red;
}
.button-settings:hover {
  fill: transparent;
  --blink-color: yellow;
  --blink-bgcolor: transparent;
  animation-name: blink-animation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
.button-settings-xs {
  margin: 10px 2px;
}

.header-action {
  margin-left: 10px !important;
  font-size: 60%;
}

.header-action-xs {
  margin-top: 10px !important;
  font-size: 60%;
}

.header-actions-container-xs {
  position: absolute;
  top: calc(10px + var(--toolbar-height));
  left: -2;
  z-index: 1000;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.disabled {
  background-color: grey;
}
.active {
  background-color: green;
}

.button-action {
  margin-left: 10px !important;
  font-size: 60%;
}

.button-action-xs {
  margin-top: 10px !important;
  margin-left: 15px !important;
  font-size: 60%;
}

.button-action:hover:not(.active):not(.disabled),
.button-action-xs:hover:not(.active):not(.disabled) {
  --blink-bgcolor: orange;
  animation-name: blink-animation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes blink-animation {
  50% {
    background-color: var(--blink-bgcolor);
    color: var(--blink-color);
    fill: var(--blink-color);
  }
}
.toolbar-menu-toggle-xs {
  display: flex;
  flex-direction: column;
  justify-items: center;

  background-color: transparent;
  height: 50px;
  min-height: 50px;
  width: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
}

.icon-bar {
  display: block;
  box-sizing: border-box;
  width: 25px;
  height: 2px;
  background-color: greenyellow;
  padding: 0;
}
.top-bar {
  margin-top: 4px;
  transition-duration: 0.35s;
  transform: rotate(0deg);
  transform-origin: 15% 10%;
}
.middle-bar {
  margin-top: 4px;
}
.bottom-bar {
  margin-top: 4px;
  transition-duration: 0.35s;
  transform: rotate(0deg);
  transform-origin: 15% 10%;
}

.top-bar.show-action-buttons-xs {
  transition-duration: 0.35s;
  transform: rotate(45deg);
  transform-origin: 15% 10%;
  background-color: red;
}
.middle-bar.show-action-buttons-xs {
  opacity: 0;
}
.bottom-bar.show-action-buttons-xs {
  transition-duration: 0.35s;
  transform: rotate(-45deg);
  transform-origin: 15% 90%;
  background-color: red;
}

.toolbar-menu-toggle-xs:hover > .top-bar,
.toolbar-menu-toggle-xs:hover > .middle-bar,
.toolbar-menu-toggle-xs:hover > .bottom-bar {
  background-color: yellow;
}
