<div class="container" [hidden]="!loaded">
  <header>
    <h2>
      Open Weather Map
    </h2>
    <h3>
      5 Day Forecast
    </h3>
    <br />
    Angular Versions Test Projects
  </header>

  <div class="grid-container">
    <span class="flex-justify-center">
      <img src="favicon.ico" alt="Angular"/>
    </span>
    <div>Database</div>
    <div>Hosted</div>
    <div class="flex-justify-center">
      <img src="{{ constants.iconGithub }}" alt="Github"/>
    </div>

    <ng-container *ngFor="let version of data">
      <span class="flex-justify-center">{{ version.version }}</span>
      <span>{{ version.db }}</span>
      <a
        *ngIf="version.routedLink"
        class="link-action fb-text-color"
        [routerLink]="[version.routedLink]"
        routerLinkActive="active"
        >{{ version.hosted }}
        <img src="{{ constants.iconExtLink }}" alt="Link to site"/>
      </a>
      <a
        *ngIf="!version.routedLink"
        class="link-action fb-text-color"
        href="{{ version.hostedLink }}"
        routerLinkActive="active"
        >{{ version.hosted }}
        <img src="{{ constants.iconExtLink }}" alt="Link to host"/>
      </a>

      <a
        class="flex-justify-center link-action"
        href="{{ version.sourceLink }}"
        routerLinkActive="active"
      >
        <img src="{{ constants.iconExtLink }}" alt="Link to source"/>
      </a>
    </ng-container>
  </div>
</div>
