.container-data-cell-expanded {
  color: white;
  overflow: scroll;
  height: 80vh;
  width: 40vw;
  padding: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.grid-col-23 {
  grid-column: 2/4;
  justify-self: center;
}
.data-table-grid {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 15% 15%;
  column-gap: 10px;
  align-items: center;
}

.item {
  align-self: center;
}
.right {
  justify-self: end;
}

img {
  width: 70px;
}

@media only screen and (max-width: 1500px) {
  .container-data-cell-expanded {
    font-size: 1rem;
    width: 50vw;
  }
  .mat-dialog-title {
    font-size: 1.2rem;
    line-height: 1.75rem;
  }
  .data-table-grid {
    width: 85%;
  }
}

@media only screen and (max-width: 1200px) {
  .container-data-cell-expanded {
    font-size: 1rem;
    width: 65vw;
  }
  .mat-dialog-title {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .data-table-grid {
    width: 85%;
  }
}

@media only screen and (max-width: 800px) {
  .container-data-cell-expanded {
    font-size: 90%;
    width: 70vw;
  }
  .data-table-grid {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .container-data-cell-expanded {
    width: 80vw;
    font-size: 80%;
  }
  .data-table-grid {
    width: 90%;
  }
}

@media only screen and (max-height: 400px) {
  .container-data-cell-expanded{
    font-size: 70%;
  }
}
