<span
  fxFlex
  *ngIf="!dataDaily[timeSlot.hour]"
  class="table-cell_data_empty-background"
></span>
<div
  fxFlex
  fxLayout="column"
  fxLayoutAlign="center center"
  *ngIf="dataDaily[timeSlot.hour]"
  class="table-cell_data-background"
  [ngStyle]="{
    'background-color': timeSlot.bgColor + '40',
    color: timeSlot.textColor
  }"
>
  <div
    fxFlex
    fxFlex.gt-xs="25%"
    fxLayout="row"
    fxLayoutAlign="center center"
    class="description"
  >
    <img [src]="iconsOwm + dataDaily[timeSlot.hour].weather[0].icon + '.png'" />
    <span>
      {{ dataDaily[timeSlot.hour].weather[0].main }}
      {{ dataDaily[timeSlot.hour].main.temp | number: "1.0-0" }}&#176;C
    </span>
  </div>
  <div fxFlex fxLayout="column" class="table-secondary_data">
    <span
      fxFlex="25%"
      fxLayout="row"
      fxLayoutAlign="start end"
      class="table-secondary_data_line"
    >
      <img [src]="iconPressure" />
      <span fxFill>
        <span fxFlex="50%" fxLayoutAlign="end end">
          &nbsp;{{ dataDaily[timeSlot.hour].main.pressure | number: "1.0-0" }}
        </span>
        <span fxFlex fxLayoutAlign="start end">&nbsp;hPa</span>
      </span>
    </span>

    <span
      fxFlex="25%"
      fxLayout="row"
      fxLayoutAlign="start end"
      class="table-secondary_data_line"
    >
      <img [src]="iconWind" />
      <span fxFill>
        <span fxFlex="50%" fxLayoutAlign="end end">
          <span
            fxFlex
            fxFill
            fxLayoutAlign="center center"
            [ngStyle]="{
              height: '50%',
              'min-height': '50%',
              'font-weight': 'bold'
            }"
            [style.transform]="
              'rotate(' + dataDaily[timeSlot.hour].wind.deg + 'deg)'
            "
          >
            {{ arrow000Deg }}
          </span>
          {{ dataDaily[timeSlot.hour].wind.speed | number: "1.0-0" }}
        </span>
        <span fxFlex fxLayoutAlign="start end">&nbsp;m/s</span>
      </span>
    </span>

    <span
      fxFlex="25%"
      fxLayout="row"
      fxLayoutAlign="start end"
      class="table-secondary_data_line"
    >
      <img [src]="iconHumidity" />
      <span fxFill>
        <span fxFlex="50%" fxLayoutAlign="end end">
          &nbsp;{{ dataDaily[timeSlot.hour].main.humidity | number: "1.0-0" }}
        </span>
        <span fxFlex fxLayoutAlign="start end">&nbsp;%&nbsp;</span>
      </span>
    </span>
  </div>
</div>
