.table-cell_data_empty-background {
  min-width: 120px;
  margin: 2px;
}

.table-cell_data-background {
  min-width: 120px;
  margin: 2px;
  padding: 2px 0 2px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.table-cell_data-background:hover {
  border: 1px solid black;
}

.table-secondary_data_line {
  margin: 2px 0 2px 0;
}

.table-secondary_data_icon img {
  width: 60%;
  height: auto;
}

@media only screen and (max-height: 599px) {
  img {
    width: 40%;
    height: auto;
  }
  .table-secondary_data {
    display: none !important;
  }
}

@media only screen and (max-height: 420px) {
  img {
    width: 20%;
    height: auto;
  }
  *{
    font-size: 80%;
  }
}

@media only screen and (min-height: 600px) {
  img {
    width: 20%;
    height: auto;
  }
}

@media only screen and (min-height: 700px) {
  img {
    width: 20%;
    height: auto;
  }
}

@media only screen and (min-height: 800px) {
  img {
    width: 25%;
    height: auto;
  }
}

@media only screen and (min-height: 900px) {
  img {
    width: 35%;
    height: auto;
  }
}

@media only screen and (min-height: 1000px) {
  img {
    width: 50%;
    height: auto;
  }
}
