.table-cell_data_empty-background {
  min-width: var(--hour-slot-min-width);
}

.table-cell_data-background {
  min-width: var(--hour-slot-min-width);
  padding: 2px 0 2px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.table-cell_data-background:hover {
  border: 1px solid black;
}

.table-secondary_data {
  display: var(--showDetailSecondary) !important;
}

.table-secondary_data_line {
  margin: 2px 0 2px 0;

  flex: 1 1 100%;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  place-content: flex-end flex-start;
  align-items: flex-end;
  max-height: 25%;
}

.table-secondary_data_icon img {
  width: 60%;
  height: auto;
}

.pressure {
  display: var(--showDetailPressure);
}
.wind {
  display: var(--showDetailWind);
}
.humidity {
  display: var(--showDetailHumidity);
}

@media only screen and (max-height: 599px) {
  .table-secondary_data {
    display: none !important;
  }
}

@media only screen and (max-height: 755px) {
  img {
    width: 50%;
    height: auto;
  }
}

@media only screen and (max-height: 670px) {
  img {
    width: 25%;
    height: auto;
  }
}

@media only screen and (max-height: 499px) {
  img {
    width: 60%;
    height: auto;
  }
}
@media only screen and (max-height: 410px) {
  img {
    width: 30%;
    height: auto;
  }
}

.icons-measures {
  display: block;
  width: 16px;
  min-width: 16px;
  height: 16px;
  background: var(--iconsMeasuresUrl) no-repeat 0px 0px;
}

.icon-pressure {
  background-position: 0 0;
}
.icon-wind {
  background-position: 0 -16px;
}
.icon-humidity {
  background-position: 0 -32px;
}

.icons-weather {
  display: block;
  width: 50px;
  min-width: 50px;
  height: 50px;
  background: var(--iconsWeatherUrl) no-repeat 0px 0px;
  margin: -15px 0;
}
