.forecast-card {
  height: 100%;
  min-height: 180px;
  padding: 5px;
  background: transparent;
  scrollbar-width: none;
  --hour-slot-min-width: 120px;
  --hour-row-min-height: 15px;
  --column-date-width: 40px;
}

.content {
  font-size: 14px;
  color: white;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
.table-header {
  margin: 2px 0;
}
.table-header-time-slot {
  min-width: var(--hour-slot-min-width);
  min-height: var(--hour-row-min-height);
  margin: 0 2px;
  background-color: #778bff93;
  box-sizing: border-box;
}

.table-cell_00 {
  margin: 2px;
  min-height: var(--hour-row-min-height);
}
.table-column-date {
  padding: 0 5px;
  width: var(--column-date-width);
}
.date-column-slot {
  margin: 2px 0;
}

.table-row {
  margin: 2px 0;
}
.table-cell_data {
  min-width: var(--hour-slot-min-width);
  margin: 0 2px;
  max-height: 30vh;
}

@media only screen and (max-height: 800px) {
  .content {
    font-size: 10px;
  }
}

@media only screen and (max-height: 300px) {
  .content {
    font-size: 6px;
  }
}

@media only screen and (max-height: 399px) {
  .date-column-slot-date {
    display: none !important;
  }
}
