.forecast-card {
  height: 100%;
  padding: 5px;
  background: transparent;
  scrollbar-width: none;
  --hour-column-min-width: 120px;
  --hour-column-min-height: 15px;
  --date-column-width: 40px;
}

.content {
  font-size: 14px;
  color: white;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.table-header-background {
  min-width: var(--hour-column-min-width);
  min-height: var(--hour-column-min-height);
  margin: 2px;
  background-color: #778bff93;
  box-sizing: border-box;
}

.table-cell_data {
  min-width: var(--hour-column-min-width);
  margin: 2px;
}

.table-column_0 {
  padding: 0 5px 0 5px;
  width: var(--hour-column-width);
}

.table-cell_00 {
  padding: 5px 2px;
  min-height: var(--hour-column-min-height);
}

@media only screen and (max-height: 420px) {
  .content {
    font-size: 6px;
  }
}

@media only screen and (max-height: 800px) {
  .content {
    font-size: 10px;
  }
}
