<mat-card class="forecast-card">
  <div fxFlex fxLayout="column" fxFill class="content">
    <!-- A row of Date & Hours columns-->
    <!-- <div fxFlex fxLayout="row" *ngIf="loadingOwmData === false"> -->
    <div fxFlex fxLayout="row" *ngIf="listByDate">
      <!-- Date's column-->
      <div #fullHeightColumn class="table-column-date" fxLayout="column">
        <div
          fxFlex="5%"
          fxLayout="column"
          class="table-cell_00"
          fxLayoutAlign="center"
        ></div>

        <div fxFlex fxFill fxLayout="column" id="daycolumn">
          <div
            fxFlex
            *ngFor="
              let dataDaily of listByDate
                | keyvalue
                | sliceArray: daysForecast;
              trackBy: trackByIdFn;
              index as ind
            "
          >
            <span fxFlex fxLayout="column" fxLayoutAlign="center center">
              <span>{{ dataDaily.key | date: "EEE" }}&nbsp;</span>
              <span class="date-column-slot-date"
                >{{ dataDaily.key | date: "dd" }}&nbsp;</span
              >
              <span class="date-column-slot-date"
                >{{ dataDaily.key | date: "MMM" }}&nbsp;</span
              >
            </span>
          </div>
        </div>
      </div>
      <!-- / Date's column-->

      <!-- Hours columns-->
      <div
        fxFlex
        fxFill
        fxLayout="column"
        class="scroll-this"
        #gridContainer
        (wheel)="onMouseWheel($event)"
      >
        <div fxFlex="5%" fxLayout="row" class="table-header">
          <span
            fxFlex
            fxLayoutAlign="center center"
            class="table-header-time-slot"
            *ngFor="
              let timeSlot of timeTemplate;
              index as ind;
              trackBy: trackByIdFn
            "
            [ngStyle]="{ 'background-color': timeTemplate[ind].bgColor }"
          >
            {{ (timeSlot.hour > 9 ? "" : "0") + timeSlot.hour + ":00" }}
          </span>
        </div>
        <!-- show a row for each day -->
        <div fxFlex fxFill fxLayout="column">
          <div
            fxFlex
            fxFill
            fxLayout="row"
            class="table-row"
            fxLayoutAlign="start center"
            *ngFor="
              let dataDaily of listByDate
                | keyvalue
                | sliceArray: daysForecast;
              index as ind
            "
            [@showTimeSlot]="ind"
          >
            <ng-container
              *ngFor="let timeSlot of timeTemplate; trackBy: trackByIdFn"
            >
              <app-data-cell
                fxFlex
                fxFill
                class="table-cell_data"
                [dataDaily]="dataDaily.value"
                [timeSlot]="timeSlot"
                (click)="showDataCellExpanded(dataDaily.value[timeSlot.hour], timeSlot.bgColor)"
              ></app-data-cell>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Hours columns-->
    </div>

  </div>
</mat-card>
