/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/cdk/overlay-prebuilt.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(91, 134, 174);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/backgrounds/default.jpg");
  transition: background-image 1s ease-in-out;
}

.popup__info {
  color: greenyellow;
  background: rgb(59, 59, 59);
}
.popup__error {
  color: red;
  background: black;
}
.popup__warn {
  color: goldenrod;
  background: black;
}

.scroll-this {
  overflow-y: auto;
}
.scroll-this-x {
  overflow-x: auto;
}
.scroll-this-y {
  overflow-y: auto;
}

.flex-justify-center {
  justify-self: center;
}
/* Overriding the global styles and local scoping (.mat-select-panel) the selectors, according the Angular Material Docs */
.mat-select-panel.header-toolbar-mat-select {
  background: #5981b2;
  background-size: cover;
  background-image: url("assets/backgrounds/default.jpg");
  border-radius: 0;
}
.header-toolbar-mat-select .mat-option-text {
  color: white;
}
.header-toolbar-mat-select.mat-select-panel::-webkit-scrollbar {
  width: 5px;
}
.header-toolbar-mat-select.mat-select-panel::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
}
.header-toolbar-mat-select.mat-select-panel::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
.header-toolbar-mat-select.mat-select-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.data-cell-expanded {
  font-family: Roboto;
}

.data-cell-expanded .mat-dialog-container {
  padding: 0;
  border-radius: 0;
  background: transparent;
}

.dialog-settings .mat-dialog-container {
  padding: 0;
  border-radius: 0;
  background: transparent;
  background-size: cover;
  background-image: url("assets/backgrounds/default.jpg");
}

.gchart-tooltip-icon {
  white-space: pre !important;
  background: #33425c;
  border: solid 1px white;
  font-size: smaller;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
