/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.snackbar__info {
  color: greenyellow;
  background: rgb(59, 59, 59);
}
.snackbar__error {
  color: red;
  background: black;
}

.scroll-this {
  overflow: auto;
}

.flex-justify-center {
  justify-self: center;
}
/* Overriding the global styles and local scoping (.mat-select-panel) the selectors, according the Angular Material Docs */
.mat-select-panel.header-toolbar-mat-select {
  background: #5981b2;
  background-image: url("assets/backgrounds/default.jpg");
  background-size: cover;
}
.header-toolbar-mat-select .mat-option-text {
  color: white;
}
.header-toolbar-mat-select.mat-select-panel::-webkit-scrollbar {
  display: none;
}
