/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.snackbar__info {
  color: greenyellow;
  background: rgb(59, 59, 59);
}
.snackbar__error {
  color: red;
  background: black;
}

.scroll-this {
  overflow: auto;
}

.flex-justify-center {
  justify-self: center;
}
/* Overriding the global styles and local scoping (.mat-select-panel) the selectors, according the Angular Material Docs */
.mat-select-panel.header-toolbar-mat-select {
  background: #5981b2;
  background-size: cover;
  background-image: url("assets/backgrounds/default.jpg");
  border-radius: 0;
}
.header-toolbar-mat-select .mat-option-text {
  color: white;
}
.header-toolbar-mat-select.mat-select-panel::-webkit-scrollbar {
  width: 5px;
}
.header-toolbar-mat-select.mat-select-panel::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
}
.header-toolbar-mat-select.mat-select-panel::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
.header-toolbar-mat-select.mat-select-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.data-cell-expanded .mat-dialog-container {
  padding: 0;
  border-radius: 0;
}

.dialog-settings .mat-dialog-container{
  padding: 0;
  border-radius: 0;
  background: #5981b2;
  background-size: cover;
  background-image: url("assets/backgrounds/default.jpg");
}